button {
  border: 1px solid #db1212;
  border-radius: 4px;
  background-color: #c4c0c0;
  color: #131212;
  font-weight: bold;
  cursor: pointer;
}

.keyboard-container {
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.keyboard,
.lastKeyboard {
  border-spacing: 1px;
}

.lastKeyboard {
  margin-top: 1px;
}

.keyboard button,
.lastKeyboard button {
  width: 45px;
  height: 45px;
}

.key-icon {
  width: 20px;
  height: 20px;
}
